<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Sponsor Sign Up{% endblock %}
{% block content %}
<style type="text/css">
    body { background: linear-gradient(to right, #813ddad5, #5d31e2d7, #4c4fe9d8, #2965d4d3) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<div class="jumbotron vertical-center">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-4">
                <div class="card shadow-2-strong bg-light border-dark border-4" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <form>
                            <h1 class="text-center">Sponsor Sign Up</h1>
                            <div class="form-group mb-3">
                                <label for="sponsor-name">Name</label>
                                <input type="text" class="form-control" placeholder="Enter Name (First and Last)" name="sponsor-name" id="sponsor-name" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="student-email">Email</label>
                                <input type="sponsor-email" class="form-control" placeholder="Enter school email" name="sponsor-email" id="sponsor-email" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="school">School</label>
                                <input type="text" class="form-control" placeholder="Enter school name" name="school" id="school" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="sponsor-tags">Tags</label>
                                <textarea type="text" class="form-control" placeholder="Enter areas of interest/expertise (separated by commas)" name="sponsor-tags" id="sponsor-tags" required></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}