<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Student Sign Up{% endblock %}
{% block content %}
    <div class="jumbotron vertical-center">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-4">
                    <div class="card shadow-2-strong bg-light border-primary" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <form action="/auth/sign-up/student" method="post">
                                <h1 class="text-center">Student Sign Up</h1>
                                <div class="form-group mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Name (First and Last)" name="name" id="name" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" placeholder="Enter school email" name="email" id="email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="school">School</label>
                                    <input type="text" class="form-control" placeholder="Enter school name" name="school" id="school" required>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}