h1 {
    text-align:center
}
/* navigation here*/
.navbar {
    background-color:rgb(55, 55, 249);
    overflow: hidden;
}
.navbar a {
    float:left;
    color:white;
    padding: 14px 16px;
    text-decoration:none; 
    text-align:center;
    font-size:18px;


}
.navbar a:hover {
    background-color: black;
    color:white;
}

.navbar a.active{
    background-color:rgb(17, 17, 241);
    color:white;
}

.navbar-right{
    float:right; 
}
/* Main content */ 
.mainCt {
    text-align:center;
}

/* login*/
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }