
/* Sign up fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

/* navigation here*/
.navbar {
    background-color:rgb(55, 55, 249);
    overflow: hidden;
}
.navbar a {
    float:left;
    color:white;
    padding: 14px 16px;
    text-decoration:none; 
    text-align:center;
    font-size:18px;


}
.navbar a:hover {
    background-color: black;
    color:white;
}

.navbar a.active{
    background-color:rgb(17, 17, 241);
    color:white;
}

.navbar-right{
    float:right; 
}
/* Main content */ 
.mainCt {
    text-align:center;
}

/* login*/
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #3614e2, #1115df, #2c1c7c, #4119de);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6618e3, #2647d9, #5319e5, #3219ea);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }