{% extends "base.html" %}
{% block homelink %}
{% if data.userType == "student" or data.userType == "sponsor" %} 
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
{% elif data.userType == "admin" %} 
    <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Panel</a>
    </li>
{% endif %}
{% endblock %}
{% block title %}Admin Panel{% endblock %}
{% block content %}
    <style type="text/css">
        .clublist {
            background-color: #cccccc !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            margin-bottom: 50px !important;
            overflow-y: scroll;
        }
    </style>


    <div class="container vw-100">
        <h1>Welcome, Admin!</h1>
        <p>Hosting {{ data.clubs|length }} Clubs<a class="btn btn-primary mx-3 xy-3" href="/create-club">Add Club</a></p>
        <div class="card bg-light clublist pt-3 pb-5 vh-100" style="border-radius: 15px">
            {% if data.clubs|length > 0 %}
                <div class="list-group">
                    {% for club in data.clubs %}
                    <div class="container bg-white mb-3 align-items-center px-4 py-2" style="border-radius: 15px">
                        <div class="row">
                            <div class="col">
                                <p class="h5"><b>{{ club.name }}</b></p>
                            </div>
                            <div class="col">
                                <p>{{ club.posts }} posts</p>
                            </div>
                            <div class="col">
                                <p>{{ club.students|length }} students</p>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary float-end" href="/admin/{{ club.id }}">Manage Club</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <h2 class="text-center text-dark">No clubs. Create one!</h2>
            {% endif %}
        </div>
    </div>

{% endblock %}