{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}
{% block content %}
    <style type="text/css">
        .clublist {
            background-color: #cccccc !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            margin-bottom: 50px !important;
            overflow-y: scroll;
        }
    </style>


    <div class="container vw-100">
        <h1>Welcome, Admin!</h1>
        <p>Hosting {{ data.clubs|length }} Clubs<a class="btn btn-primary mx-3 xy-3" href="/create-club">Add Club</a></p>
        <div class="card bg-light clublist pt-3 pb-5 vh-100" style="border-radius: 15px">
            <div class="list-group">
                {% for club in data.clubs %}
                    <div class="container bg-white mb-3 align-items-center px-4 py-2" style="border-radius: 15px">
                        <div class="row">
                            <div class="col">
                                <p class="h5"><b>{{ club.name }}</b></p>
                            </div>
                            <div class="col">
                                <p>{{ club.posts }} posts</p>
                            </div>
                            <div class="col">
                                <p>{{ club.students|length }} students</p>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary float-end" href="/admin/{{ club.id }}">Manage Club</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}