{% extends "base.html" %}
{% block title %}{{ data.club.name }}{% endblock %}
{% block content %}
    <h1>Club name: {{ data.club.name }}</h1>
    <p>Club school: {{ data.clubSchoolName }}</p> 
    
    {% if data.posts|length > 0 %}
        <h2>Posts:</h2>
    {% endif %}
    {% for post in data.posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}

    {% if data.userInClub == False %}
        <a href="{{ data.club.id }}/join">Join</a>
    {% else %}
        <a href="{{ data.club.id }}/post">Create post</a>
    {% endif %}
{% endblock %}