{% extends "base.html" %}
{% block title %}Create post{% endblock %}
{% block content %}
    <p>Create post</p>
    <form action="post" method="post">
        <div class="form-group mb-3">
            <label for="content">Content</label>
            <input type="text" class="form-control" placeholder="Post content" name="content" id="content" required>
        </div>
        <div class="form-group mb-3">
            <label for="content">Title</label>
            <input type="text" class="form-control" placeholder="Post title" name="title" id="title" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Create post</button>
        </div>
    </form>
{% endblock %}