<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/demo.css">
<link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
<link rel="icon" type="image/jpg" href="../img/cube.jpg">
</head>
<body>
<div class ="navbar">
    <a class ="active" href="home"> Home</a>
    <a href="one"> one thing</a>
    <a href="two"> second thing</a>
    <a href="three"> third thing</a>
    <a href="four"> fourth thing</a>
    <div class="navbar-right">
        <a href="login"> Login</a>
    </div>

</div>

    

</body>
</html>