/* navigation here*/
.navbar {
    background-color:rgb(43, 43, 199);
    overflow: hidden;
}
.navbar a {
    float:left;
    color:white;
    padding: 14px 16px;
    text-decoration:none; 
    text-align:center;
    font-size:18px;


}
.navbar a:hover {
    background-color: black;
    color:white;
}

.navbar a.active{
    background-color:rgb(216, 216, 216);
    color:white;
}

.navbar-right{
    float:right; 
}
/* Main content */ 
.mainCt {
    text-align:center;
}

.submenu {
    z-index: 999;
    overflow: visible;
}

.nav.navbar-nav.navbar-right li a {
    color: rgb(255, 255, 255);
}

ul.dropdown-menu {
    background-color: rgb(55, 55, 249);
    color: rgb(255, 255, 255)
}

.nav-item.dropdown .dropdown-item:active {
    background-color: green !important;
}

.nav-link {
    color: rgb(214, 214, 214) !important;
}

/* login*/
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #3b1bf4;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #2511da, #2626f0, #370cdf, #4013e2);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6909e6, #4c18e8, #3235f2, #0e57df);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .vertical-center {
        min-height:100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
    }